@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Plus+Jakarta+Sans:wght@300;400;500;600;700&display=swap');

$purple:#755CDE;
$black:#030303;
$orange:#F6A560;
$pink:#F39E9E;
$red:#EB7565;
$green:#61C4B7;
$gray:#7A746E;
$violet:#552049;
$beg:#FFF7F0;
$bgColor:#FFF7EF;
$fontHeadingLarge:56px;
$fontHeadingMedium:40px;
$fontHeadingSmall:32px;
$fontBody:18px;

.fBold{
    font-weight:bold
}

.fMedium{
        font-weight:500
}

.fHL{
    font-size: $fontHeadingLarge;
        @extend .fBold    
}

.fHM{
    font-size: $fontHeadingMedium;
            @extend .fBold
}

.fHS{
    font-size: $fontHeadingSmall;
            @extend .fBold
}

.fB{
    font-size: $fontBody;
}
.bgBlack{
    background-color: $black;
}
.textBg{
    color:$beg;
}

.textGray{
    color:$gray;
}
.bgPurple{
    background-color: $purple;
}
.bgOrange{
    background-color: $orange;
}

.bgPink{
    background-color: $pink;
}
.bgRed{
    background-color: $red;
}
.bgGreen{
    background-color: $green;
}
.bgViolet{
    background-color: $violet;
}


body{
    background-color: $bgColor !important;
    font-family: 'Plus Jakarta Sans', sans-serif;
    .button{
        padding:.5rem 1.5rem;
        border-radius: 1.5rem;
        font-size: 14px;
        font-weight: 400;
        color:$beg;
        border:none;
        }

        .mainBtn{
            @extend .button;
            background-color: $black;
            &:hover{
               @extend .bgPurple;
            }
        }

        .secondaryBtn{
            @extend .button;
            @extend .bgRed;
            &:hover{
                @extend .bgOrange;
            }
        }

        .arrow{
            padding:1rem;
            border-radius: 50%; 
            background-color: $black;
            color:$beg;
            &:hover{
                background-color: $purple; 
            }
        }

        .owl-carousel .owl-stage-outer{
            overflow: visible;
            left:calc(22% - 20px);
        }

        
        .owl-theme .owl-nav{
            margin-top:3rem !important; 
            margin-bottom:3rem !important; 
        }

       
        .owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev {
          background: transparent; 
          color: unset;
          padding:1rem 0rem !important;
          &:hover{
             background: transparent; 
             color: unset;
          }
        }
        .headWidth{
            width:90%
        }

      
}


@media screen and (min-width:768px){
      .Graphic{
            height: 100%;
            h5{
              position: absolute;
              bottom:0;
            }
        }
        .contact{
            width:70%;
        }
        .contactParag{
            width:90%
        }

       
}

@media screen and (min-width:992px){
      body{
          .owl-carousel .owl-stage-outer{
            overflow: hidden;
            left:0;
        }

        .headWidth{
            width:80%
        }

         
      }
}

@media screen and (min-width:1200px){
      body{
        .headWidth{
            width:60%
        }

         
      }
}